attrs==24.3.0
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.1
Deprecated==1.2.15
google-api-core==2.24.0
google-auth==2.37.0
google-cloud-appengine-logging==1.5.0
google-cloud-audit-log==0.3.0
google-cloud-core==2.4.1
google-cloud-logging==3.11.3
googleapis-common-protos==1.66.0
grpc-google-iam-v1==0.13.1
grpcio==1.68.1
grpcio-status==1.68.1
idna==3.10
importlib_metadata==8.5.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
opentelemetry-api==1.29.0
proto-plus==1.25.0
protobuf==5.29.2
pyaes==1.6.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
Pyrogram==2.0.106
PySocks==1.7.1
referencing==0.35.1
requests==2.32.3
rpds-py==0.22.3
rsa==4.9
Telethon==1.38.1
TgCrypto==1.2.5
toml==0.10.2
urllib3==2.3.0
wrapt==1.17.0
zipp==3.21.0
